<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet-mapping>
    <servlet-name>FindStudent</servlet-name>
    <url-pattern>/find-student</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindStudent</servlet-name>
    <servlet-class>StudentFinderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessStudent</servlet-name>
    <url-pattern>/process-student</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProcessStudent</servlet-name>
    <servlet-class>ProcessStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Hello</servlet-name>
    <servlet-class>HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReadStudent</servlet-name>
    <servlet-class>ReadStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadStudent</servlet-name>
    <url-pattern>/read-student</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteStudent</servlet-name>
    <servlet-class>DeleteStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudent</servlet-name>
    <url-pattern>/delete-student</url-pattern>
  </servlet-mapping>
</web-app>
